<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>summer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64EFE37D1E4D5EC8006A1455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EFE3911E4D5EC8006A1455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EFE39C1E4D5EC8006A1455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
